<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body style="background-color: #EFF6F5;margin: 0mm;">
    <header style="max-width: 100vh;min-height: 5vh;background-color: #235072;">
        <div style="max-width: 80%;padding-left: 30%;padding-top: 2%;">
          <!--<input type="rfid-number" placeholder="Enter RFID-Number" name="rfid" required>
          <input type="submit">-->
          <a href="logout" style="color: #EFF6F5; padding-left: 100%"> Logout  </a>
      </div> 
  </header>
  <p style="color:#235072;font-size: 20px">Your estimated Registration Wait Time in minutes is: {{msg}}</p>
<form action="{{ url_for('calculate') }}" method="post">
  <p class="bold" style="color:#235072">Enter RFID-Number Issued By The Hospital</p>
  <input type="text" placeholder="Enter RFID-Number" name="rfid" required>
  <p style="color:#235072;font-size: 20px;padding-left: 15px;">{{error}}</p>
    <div style="padding-bottom: 95%;">
        <input type="submit" value="Calculate" style="background-color: #235072;color: white; padding: 14px 20px; margin: 8px 0; border: none; cursor: pointer; width: 100%; border-radius: 20px;">
        </div>
</form>
<footer style="max-width: 100vh;min-height: 10vh;background-color: #235072;">
  <button onclick="document.location='home'" style="max-width: 100vh;min-height: 10vh;background-color: #235072;color: #ffffff;font-size: 20px;">
   <i class="fas fa-home" style="color: #ffffff;"></i><br> Home
  </button>
</footer>
</body>
</html>
