<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title></title>
    <style > body{
                  background-size: 100%;
                  } </style>
</head>
<body style="background-color: #EFF6F5;" >
       <div class="-container">
         <div style="text-align: center;font-size: 30px;padding-top: 15%;">
            <p class="bold" style="color:#235072">WELCOME <br> TO <br>PQT 13's APP</p>
         </div>
       <div class="btn-holder"> 
         <button id="sign-in" class="btn" onclick="document.location='login'">
            Sign-In
         </button>
         <button id="sign-up" class="btn" onclick="document.location='register'">
            Sign-Up
         </button>
       </div>
    </div> 
</body>
</html>
