<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
          padding-top: 5%;
          padding-bottom: 5%;
        }
        </style>
        
</head>
<body style="background-color: #EFF6F5;margin: 0mm;">
    <header style="max-width: 100vh;min-height: 5vh;background-color: #235072;">
        <div style="max-width: 80%;padding-left: 30%;padding-top: 2%;">
          <a href="logout" style="color: #EFF6F5; padding-left: 100%"> Logout  </a>
      </div> 
  </header>
  <div>
    <table style="width:100%;">
        <tr>
          <th>Service</th>
          <th>Cost</th> 
          <th>Average Time</th>
        </tr>
        <tr>
          <td>MRI Scan</td>
          <td>₹2000 per body part <br> ₹8000 for whole body</td>
          <td>45-60 mins</td>
        </tr>
        <tr>
          <td>CT Scan</td>
          <td>₹1350 to ₹3000 depending upon scan</td>
          <td>15-30 mins</td>
        </tr>
        <tr>
          <td>PET Scan</td>
          <td>₹11000</td>
          <td>60-90 mins</td>
        </tr>
        <tr>
            <td>Sonography</td>
            <td>₹1400</td>
            <td>30-40 mins</td>
          </tr>
          <tr>
            <td>X-Ray</td>
            <td>₹225</td>
            <td>12-15 mins</td>
          </tr>
          <tr>
            <td>Urine Test</td>
            <td>₹90</td>
            <td>7-8 mins</td>
          </tr>
          <tr>
            <td>CBC Test</td>
            <td>₹200</td>
            <td>10 mins</td>
          </tr>
          <tr>
            <td>Blood-Sugar Test</td>
            <td>₹150</td>
            <td>5 mins</td>
          </tr>
      </table>
      
  </div>
  <footer style="max-width: 100vh;min-height: 10vh;background-color: #235072;">
    <button onclick="document.location='home'" style="max-width: 100vh;min-height: 10vh;background-color: #235072;color: #ffffff;font-size: 20px;">
     <i class="fas fa-home" style="color: #ffffff;"></i><br> Home
    </button>
 </footer>
    
</body>
</html>
